<a href="/#!/paths" aside-menu-toggle="left-menu"><h3> Open Your Eyes</h3></a>
<hr>
<div id="menu_path" ng-if="$ctrl.show_path_options">
	<span class="menu_sub">Parcours</span>
    <p ng-click="$ctrl.deleteProgress()">Effacer progression</p>
</div>
<div>
	<span class="menu_sub">General</span>
    <p ng-click="$ctrl.toggleFullScreen()">Mode plein écran</p>
	<a href="http://twitter.com/geeyom" target="_new"><p>Contact</p></a>
</div>

<style type="text/css">
h3{
    font-family: "multicolore", Helvetica, Arial, sans-serif;
    text-align: center;
}

#left-menu{
    background-color: #121326;
    color: #FFFFFF;
}

menu{
    padding: 15px;
    font-size: 20px;
}

menu a{
    text-decoration: none;
    color:#FFFFFF;
}

menu p{
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.1);
    padding: 5px;
}

#menu_path{
    display: block;
}
</style>