<a href="/#!/paths" aside-menu-toggle="left-menu" class="menu_head">
    <img ng-src="//s3.eu-central-1.amazonaws.com/openyoureyes/home.png" style="width:25px;">
    <div class="menu_title" class="unselectionable">Open Your Eyes</div>
</a>
<hr>
<div id="menu_path" ng-if="$ctrl.show_path_options">
	<span class="menu_sub">Parcours</span>
    <p  class="unselectionable"ng-click="$ctrl.deleteProgress()">Effacer progression</p>
</div>
<div>
	<span class="menu_sub">General</span>
    <p class="unselectionable" ng-click="$ctrl.toggleFullScreen()">Mode plein écran</p>
	<a href="http://twitter.com/geeyom" target="_new"><p class="unselectionable">Contact</p></a>
</div>
<div class="social_media">
    <a href="https://www.facebook.com/openyoureyesapp" target="_new">
        <img ng-src="//s3.eu-central-1.amazonaws.com/openyoureyes/facebook.png">
    </a>
    <a href="https://twitter.com/OpenYourEyesApp" target="_new">
        <img ng-src="//s3.eu-central-1.amazonaws.com/openyoureyes/twitter.png">
    </a>
</div>

<style type="text/css">
.social_media{
    width:100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left:0;
}
.social_media img{
    margin:20px;
}
.menu_head{
    display: inline-block;
}
.menu_head img{
    display: inline-block;
}
.menu_title{
    font-family: "multicolore", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 21px;
    display: inline-block;
    line-height: 25px;
}

#left-menu{
    background-color: #121326;
    color: #FFFFFF;
}

menu{
    padding: 15px;
    font-size: 20px;
}

menu a{
    text-decoration: none;
    color:#FFFFFF;
}

menu p{
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.1);
    padding: 5px;
}

#menu_path{
    display: block;
}
</style>