
<div class="page-title">
	<H1>Open Your Eyes</H1>
</div>
<div class="upper-right logo"></div>

<p>{{'PATH_LIST.INTRO' | translate }}</p>
<p>{{'PATH_LIST.FILTER' | translate }}<input ng-model="$ctrl.query" /></p>
<div>
	<div ng-repeat="path in $ctrl.paths | filter:$ctrl.query">
		<a href="#!/path/{{path.key}}">
			<div class="item">
				<img ng-src="{{path.thumb.url}}" class="path_thumb">
				<div>
					<div>
						<h4>{{path.name}}</h4>
					</div>
					<div class='inline-item column1'>
						<div ng-if="path.city">
							<span class="strong">{{'PATH_LIST.CITY' | translate }}</span>
							<span>{{path.city}}</span>
						</div>
						<div ng-if="path.language">
							<span class="strong">{{'PATH_LIST.LANG' | translate }}</span>
							<span>{{path.language}}</span>
						</div>
					</div>
					<div class='inline-item'>
						<div ng-if="path.length">
							<span class="strong">{{'PATH_LIST.LENGTH' | translate }}</span>
							<span>{{path.length}}{{'PATH_LIST.HOURS' | translate }}</span>
						</div>
						<div  ng-if="path.author">
							<span class="strong">{{'PATH_LIST.AUTHOR' | translate }}</span>
							<span>{{path.author.name.first + " " + path.author.name.last}}</span>
						</div>
					</div>
				</div>
			</div>

	    </a>
	</div>
</div>

<style type="text/css">
.logo{
	background-image: url(//s3.eu-central-1.amazonaws.com/openyoureyes/logo.png);
	background-size: contain;
}
.inline-item{
	display: inline-block;
	height: 40px;
	overflow: hidden;
	
}
.column1{
	max-width: 120px;
	padding-right: 10px;
}

.item{
	background-color: #121326;
    color: white;
    border-radius: 5px;
    padding: 5px;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    margin: 10px;
}
.item_path{
	text-decoration: none;
	margin-top: 20px;
}

h4{
	text-align: left;
    margin: 0;
}

.item img{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	float:left;
	margin: 5px;
}
</style>