<div id="nav-icon" aside-menu-toggle="left-menu" ></div>

<div class="page-title">
	<H1>Open Your Eyes</H1>
</div>
<div class="upper-right logo"></div>

<p>{{'PATH_LIST.INTRO' | translate }}</p>
<p>{{'PATH_LIST.FILTER' | translate }}<input ng-model="$ctrl.query" /></p>
<div>
	<div ng-repeat="path in $ctrl.paths | filter:$ctrl.query">
		<a href="#!/path/{{path.key}}">
			<div class="item">
				<img ng-src="{{path.thumb.url}}" class="path_thumb">
				<div>
					<div class="item-title">
						<h4>{{path.name}}</h4>
					</div>
					<div>
						<div ng-if="path.city" class="path-info">
							<img class="path_logos" ng-src="//s3.eu-central-1.amazonaws.com/openyoureyes/pin.png">
							<span>{{path.city}}</span>
						</div>
						<div ng-if="path.length" class="path-info">
							<img class="path_logos" ng-src="//s3.eu-central-1.amazonaws.com/openyoureyes/duration.png">
							<span>{{path.length}}{{'PATH_LIST.HOURS' | translate }}</span>
						</div>
						<div ng-if="path.language" class="path-info">
							<img class="path_logos" ng-src="//s3.eu-central-1.amazonaws.com/openyoureyes/lang/{{path.language}}.png">
						</div>
						<div  ng-if="path.author" class="path-info">
							<span>{{'PATH_LIST.FROM' | translate }}</span> <img class="path_logos" ng-src="{{path.author.avatar.url}}">
						</div>
					</div>
				</div>
			</div>

	    </a>
	</div>
</div>

<style type="text/css">
.path-info{
	display: inline-block;
	margin-right: 10px;
}
.path_logos{
	height: 16px;
	width: 16px;
	display: inline-block;
}

.logo{
	background-image: url(//s3.eu-central-1.amazonaws.com/openyoureyes/logo.png);
	background-size: contain;
}

.item{
	background-color: #121326;
    color: white;
    border-radius: 5px;
    padding: 5px;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    margin: 10px;
}
.item_path{
	text-decoration: none;
	margin-top: 20px;
}
.item-title{
	position: relative;
	vertical-align: middle;
	line-height:40px;
	height: 40px;
}
.item h4{
	text-align: left;
    margin: 0;
    display:inline-block;
}

.path_thumb{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	float:left;
	margin: 5px;
}
</style>