body {
    margin: 0;
    color: #121326;
    font-family: Trebuchet MS;
    min-height:540px;
}
body[orient="portrait"] { min-height:540px; }
body[orient="landscape"] { min-height:400px; }
input[type=text] {
    padding:5px; 
    border:2px solid #121326; 
    webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type=text]:focus {
    border-color:#14938C; 
}

input[type=submit] {
    padding:5px 15px; 
    background:#121326;
    color:#FFFFFF;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

@font-face{
    font-family: "multicolore";
    src: url('/fonts/multicolore.otf');
}
.page-title{
	position: relative;
	left: 0;
	height: 65px;
	display: inline-block;
	line-height: 65px;
    top: 0;
    padding-left: 65px;
    padding-right: 65px;
    text-align: center;
    width: 100%;
}
h1{
    font-family: "multicolore", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #121326;
    font-size: 25px;
    vertical-align: middle;
    margin:0;
    display: inline-block;
}
h3{
    font-family: "multicolore", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #121326;
}
h4{
    font-family: "multicolore", Helvetica, Arial, sans-serif;
}
header{
	display: inline-block;
}
p{
    font-size: 16px;
}
#nav-icon{
	display: inherit;
	width:50px;
	height: 50px;
	margin: 5px;
	background: url(/images/menu_button.png);
	background-size: contain;
	position: absolute;
	z-index: 1000;
	background-color: rgba(255,255,255,0.3);
}

.strong{
    font-weight: bold;
}
.inline{
    display: inline-block;
}
.unselectionable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.aside-menu-content{
    overflow-y: scroll;
}

.upper-right{
    position: absolute;
    right:0;
    top:0;
    overflow: hidden;
    margin: 5px;
    width: 50px;
    height: 50px;
    z-index: 1;
}

.main-view {
  transition: transform 0.5s ease;
  transform: translate3d(0, 0, 0);
  position: relative;
  height: 100%;
}
.main-view.ng-enter {
    transform: translate3d(100%, 0, 0); 
}
.main-view.ng-enter-active {
    transform: translate3d(0, 0, 0);
}
.main-view.ng-leave {
    transform: translate3d(0, 0, 0);
}
.main-view.ng-leave-active {
    transform: translate3d(-100%, 0, 0);  
}