<link rel="stylesheet" type="text/css" href="path-details/objects.css">
<style type="text/css">
.map-container{
    width: 100%;
    display: block;
    position: fixed;
    bottom:190px;
    top:80px;
}
.angular-google-map,.angular-google-map-container { height: 100%; }

</style></strong>

<div class="page-title">
	<H1>{{$ctrl.response.path.name}}</H1>
</div>
<div>
	<p ng-click="$ctrl.deleteProgress()">Supprimer la progression</p>
	<img ng-if="$ctrl.response.is_editable" ng-src="https://cdn3.iconfinder.com/data/icons/flat-circle-content/512/flat-style-circle-add-2-64.png" ng-click="$ctrl.addPlace()" style="float:right;">
</div>
<div class="map-container">
	<ui-gmap-google-map center="map.center" zoom='map.zoom'>
		<ui-gmap-markers models="markers" coords="'self'" icon="'icon'", click="click"></ui-gmap-markers>
	</ui-gmap-google-map>
</div>

<div id="position">
	<div id="legend">
		<h4>Légende</h4>
		<div>
			<img src="//s3.eu-central-1.amazonaws.com/openyoureyes/red_pin.png">
			<span>: Ta dernière position enregistrée</span>
		</div>
		<div>
			<img src="//s3.eu-central-1.amazonaws.com/openyoureyes/green_pin.png"> / <img src="//s3.eu-central-1.amazonaws.com/openyoureyes/grey_pin.png">
			<span>: Lieux visités / à visiter</span>
		</div>
		<div>
			<img src="//s3.eu-central-1.amazonaws.com/openyoureyes/yellow_pin.png">
			<span>: Autres détectives</span>
		</div>
	</div>
	<div id="postion_update" ng-click="$ctrl.getPosition($ctrl.checkPlaceReached)"><span id="position_content">Vérifier ma position</span></div>
</div>

<div class="content" ng-if="$ctrl.current_content.is_shown">
	<div class="flip_content" ng-click="$ctrl.flipContent()" ng-if="$ctrl.current_content.is_succeeded"></div>
	<div class="close_content" ng-click="$ctrl.closeContent()"></div>
	<section id="content_container">
		<div id="place-preview" ng-if="$ctrl.current_content.preview">
			<h3>{{$ctrl.current_content.name}}</h3>
			<div>
				<p>Ce lieu se situe à {{$ctrl.current_content.distance}} m. Il faut se rapprocher pour le décourvir</p>
			</div>
			<div>
				<div class="content_button" ng-click="$ctrl.showContent($ctrl.current_content,true)">Voir tout de même le contenu</div>
				<div class="content_button" ng-if="$ctrl.response.is_editable" ng-click="$ctrl.editItem($ctrl.current_content)">Modifier cet élément</div>
			</div>
		</div>
		<div id="card" ng-if="!$ctrl.current_content.preview">
			<figure class="front">
				<h3>{{$ctrl.current_content.name}}</h3>
				<div ng-bind-html="$ctrl.current_content.init_content.description | trusted"></div>
				<div class="media_content">
					<img ng-src="{{$ctrl.current_content.init_content.media.url}}" ng-if="$ctrl.current_content.init_content.media_type == 'img'">

					<div ng-if="$ctrl.current_content.init_content.media_type == 'group'" class="subobjects">
						<div ng-repeat="subobject in $ctrl.current_content.init_content.sub_obj" ng-click="$ctrl.showContent(subobject)" class="object">
							<img ng-src="{{subobject.thumb.url}}">
							<span class="object_title">{{subobject.name}}</span>
						</div>
					</div>
				</div>
				
				<div id="media_password" ng-if="$ctrl.current_content.success_condition == 'password'">
					<p>Tu as trouvé la solution ?</p>
					<div id="password_input">
						<input type="text" ng-model="$ctrl.current_content.user_password">
						<input type="submit" value="Envoyer" ng-click="$ctrl.testPassword()">
					</div>
				</div>
			</figure>
			<figure class = "back">
				<h3>Bravo : {{$ctrl.current_content.name}}</h3>
				<div ng-bind-html="$ctrl.current_content.success_content.description | trusted"></div>
				<div class="media_content">
					<img ng-src="{{$ctrl.current_content.success_content.media.url}}" ng-if="$ctrl.current_content.success_content.media_type == 'img'">
				</div>
				<div></div>
			</figure>
		</div>
	</section>
</div>

<div id="objects">
	<div id="objects_title">Objets</div>
	<div id="objects_container">
		<div id="objects_list">
			<div class="object" ng-repeat="object in $ctrl.response.objects | filter: {is_visible: 'true'}" ng-click="$ctrl.showContent(object)">
				<img ng-src="{{object.thumb.url}}">
				<span class="object_title">{{object.name}}</span>
			</div>
			<div class="object" ng-if="$ctrl.response.is_editable" ng-click="$ctrl.addObject()">
				<img ng-src="https://cdn3.iconfinder.com/data/icons/flat-circle-content/512/flat-style-circle-add-2-128.png">
			</div>
		</div>
	</div>
</div>

<style type="text/css">
#position{
	width: 100%;
	text-align: center;
	height: 100px;
	position: fixed;
	bottom:90px;
	display: inline-block;
}

#postion_update{
	text-align: center;
    background-color: #34B3AC;
    width: 90PX;
    height: 90px;
    border-radius: 50px;
    display: inline-block;
    position: absolute;
    top:5px;
    right: 5px;
}

#position_content{
	font-family: "multicolore", Helvetica, Arial, sans-serif;
	position: absolute;
    color: white;
    font-size: 16px;
    left: 0;
    top: 20px;
    right: 0;
    line-height: initial;
}
#legend{
	display: inline-block;
    text-align: left;
    border: solid 1px #121326;
    border-radius: 5px;
    padding: 2px;
    position: absolute;
    left: 1px;
    right: 101px;
    top: 1px;
    bottom: 1px;
}
#legend>div{
	height: 22px;
    overflow: hidden;
}
#legend span{
	position: relative;
    top: -2px;
    color:#121326;
}
#legend h4{
	margin:0;
}
#legend img{
	height: 20px;
}


.content_button{
    background-color: #34B3AC;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    margin: 10px 25px;
    border: solid white;
}
#content_container p{
	font-size: 20px;
    margin: 10px;
}
@keyframes shake {
  0% {transform: translateX(0);}
  12.5% {transform: translateX(-10px) rotateY(-5deg)}
  37.5% {transform: translateX(5px) rotateY(4deg)}
  62.5% {transform: translateX(-3px) rotateY(-2deg)}
  87.5% {transform: translateX(2px) rotateY(1deg)}
  100% {transform: translateX(0)}
}

@-webkit-keyframes shake {
  0% {-webkit-transform: translateX(0);}
  12.5% {-webkit-transform: translateX(-10px) rotateY(-5deg)}
  37.5% {-webkit-transform: translateX(5px) rotateY(4deg)}
  62.5% {-webkit-transform: translateX(-3px) rotateY(-2deg)}
  87.5% {-webkit-transform: translateX(2px) rotateY(1deg)}
  100% {-webkit-transform: translateX(0)}
}
#password_input{
	left: 2%;
	width:96%;
    position: relative;
    padding-left: 1px;
    text-align: center;
}

.shake {
  -webkit-animation: shake 400ms ease-in-out;
  animation: shake 400ms ease-in-out;
}

figure img{
	width:100%;
}
.subobjects{
	text-align: center;
	display: inline-block;
}
.flip_content{
	position: absolute;
	left:-10px;
	top:-10px;
    background: url(//s3.eu-central-1.amazonaws.com/openyoureyes/flip_button.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    z-index: 100;
}
.close_content{
	position: absolute;
    right: -10px;
    top: -10px;
    background: url(//s3.eu-central-1.amazonaws.com/openyoureyes/close.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    z-index: 100;
}
.content{
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 95px;
    top: 70px;
}
#content_container {
	transition: all 1s;
	width: 100%;
	height: 100%;
	position: relative;
	perspective: 800px;
	padding: 0;
	overflow-y: scroll;
  border: solid 2px #121326;
  background: white;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
#card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  background: white;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
#card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background: white;
  
}
#card .back {
	transform: rotateY( 180deg );
}
#card.flipped {
  transform: rotateY( 180deg );
}
</style>