<link rel="stylesheet" type="text/css" href="path-details/objects.css">
<style type="text/css">
.map-container{
    width: 100%;
    display: block;
    position: fixed;
    bottom:165px;
    top:70px;
}
.angular-google-map,.angular-google-map-container { height: 100%; }
.progress-container{
	position: relative;
	height: 5px;
	width:100%;
}
#my-progress{
	height: 100%;
	position: absolute;
	left:0;
	width:0%;
	background-color: #121326;
	transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.marker_labels{
	color:#000000;
	text-align: center;
}
.aside-menu-content{
	overflow-y: hidden;
}
</style>

<div id="nav-icon" aside-menu-toggle="left-menu" ></div>

<div class="goals upper-right" ng-click="$ctrl.showPathInfo()">
</div>
<div class="page-title" ng-click="$ctrl.showPathInfo()">
	<H1>{{$ctrl.response.path.name}}</H1>
</div>
<div class="progress-container">
	<div id="my-progress"></div>
</div>
<div class="map-container">
	<img ng-if="$ctrl.response.is_editable" ng-src="https://cdn3.iconfinder.com/data/icons/flat-circle-content/512/flat-style-circle-add-2-64.png" ng-click="$ctrl.addPlace()" class="add_place">
	<ui-gmap-google-map center="map.center" zoom='map.zoom' options="map.options" styles="map.styles" >
		<ui-gmap-markers models="markers" coords="'self'" icon="'icon'" click="click" options="'options'"></ui-gmap-markers>
	</ui-gmap-google-map>
</div>

<div id="position">
	<div id="legend">
		<h4>{{'PATH_DETAILS.LEGEND' | translate }}</h4>
		<div>
			<img src="//s3.eu-central-1.amazonaws.com/openyoureyes/red_pin.png">
			<span>{{'PATH_DETAILS.LEGEND-DETAILS.MYPOSITION' | translate }}</span>
		</div>
		<div>
			<img src="//s3.eu-central-1.amazonaws.com/openyoureyes/green_pin.png"> / <img src="//s3.eu-central-1.amazonaws.com/openyoureyes/grey_pin.png">
			<span>{{'PATH_DETAILS.LEGEND-DETAILS.PLACES' | translate }}</span>
		</div>
		<div>
			<img src="//s3.eu-central-1.amazonaws.com/openyoureyes/yellow_pin.png">
			<span>{{'PATH_DETAILS.LEGEND-DETAILS.OTHERS' | translate }}</span>
		</div>
	</div>
	<div id="postion_update" ng-click="$ctrl.getPosition($ctrl.checkPlaceReached)">
		<span id="position_content" class="unselectionable">{{'PATH_DETAILS.CHECK_POSITION' | translate }}</span>
		<span class="position_placeholder"></span>
	</div>
</div>

<div class="content" ng-if="$ctrl.current_content.is_shown">
	<div class="flip_content" ng-click="$ctrl.showContent($ctrl.current_content,true,$ctrl.current_content.shown_content.other)" ng-if="$ctrl.current_content.shown_content.other && !$ctrl.current_content.preview"></div>
	<div class="close_content" ng-click="$ctrl.closeContent()"></div>
	<section id="content_container">
		<div id="place-preview" ng-if="$ctrl.current_content.preview">
			<h3>{{$ctrl.current_content.name}}</h3>
			<div>
				<p>{{'PATH_DETAILS.PLACE.INTRO' | translate:$ctrl.current_content }}</p>
			</div>
			<div>
				<div class="content_button" ng-click="$ctrl.getItinirary($ctrl.current_content)">{{'PATH_DETAILS.PLACE.ITINERARY' | translate }}</div>
				<div class="content_button" ng-click="$ctrl.showContent($ctrl.current_content,true)">{{'PATH_DETAILS.PLACE.GET_CONTENT' | translate }}</div>
			</div>
		</div>
		<div id="card" ng-if="!$ctrl.current_content.preview">
			<figure class="front">
				<h3>{{$ctrl.current_content.name}}</h3>
				<div ng-bind-html="$ctrl.current_content.shown_content.description | trusted"></div>
				
				<div class="media_content">
					<a href="{{$ctrl.current_content.shown_content.media.url}}" target="_new">
						<div class="image_holder">
							<img ng-src="{{$ctrl.current_content.shown_content.media.url}}" ng-if="$ctrl.current_content.shown_content.media_type == 'img'" ng-pinch-zoom max-scale=“4”>
						</div>
					</a>
					<div class="embed-responsive embed-responsive-16by9" ng-if="$ctrl.current_content.shown_content.media_type == 'youtube'">
						<youtube-video class="embed-responsive-item" video-url="$ctrl.current_content.shown_content.media_url" player-vars="{'cc_load_policy':1,'modestbranding':1, 'rel':0, 'cc_lang_pref':'fr', 'hl':'fr'}"></youtube-video>
					</div>

					<div ng-if="$ctrl.current_content.shown_content.media_type == 'group'" class="subobjects">
						<div ng-repeat="subobject in $ctrl.current_content.shown_content.sub_obj | orderBy:'+name'" ng-click="$ctrl.showContent(subobject)" class="object">
							<img ng-src="{{subobject.thumb.url}}">
							<span class="object_title">{{subobject.name}}</span>
							<div class="subobj_checked" ng-if="subobject.is_succeeded"></div>
						</div>
					</div>
				</div>

				<div id="media_password" ng-if="$ctrl.current_content.success_condition == 'password' && $ctrl.current_content.shown_content.type == 'init'">
					<p>{{'PATH_DETAILS.ITEM.PASSWORD.INTRO' | translate }}</p>
					<div id="password_input">
						<input type="text" ng-model="$ctrl.current_content.user_password" ng-keyup="$ctrl.keyboardPassword($event)">
						<input type="submit" value="{{'PATH_DETAILS.ITEM.PASSWORD.SEND' | translate }}" ng-click="$ctrl.testPassword()">
					</div>
				</div>

				<div class="content_opened">
					<div id="places_opened" ng-if="$ctrl.current_content.shown_content.places_opened_name.length>0">
						<p>{{'PATH_DETAILS.GAIN.PLACE' | translate }}</p>
						<ul>
							<li class="places_opened" ng-repeat="place in $ctrl.current_content.shown_content.places_opened_name">
								<span>{{place}}</span>
							</li>
						</ul>	
					</div>
					<div id="objects_opened" ng-if="$ctrl.current_content.shown_content.objects_opened_name.length>0">
						<p>{{'PATH_DETAILS.GAIN.OBJECT' | translate }}</p>
						<ul>
							<li class="objects_opened" ng-repeat="object in $ctrl.current_content.shown_content.objects_opened_name">
								<span>{{object}}</span>
							</li>
						</ul>	
					</div>
				</div>

				<div class="goal-content" ng-if="$ctrl.current_content.__t=='Path'">
					<h3>{{'PATH_DETAILS.GOALS.NAME' | translate }}</h3>
					<div class="goal-item" ng-repeat="(group, goals) in $ctrl.response.goals | orderBy: 'type' | groupBy: 'type'">
						<h4 translate="PATH_DETAILS.GOALS.{{group}}"></h4>
						<li class="goal-item" ng-repeat="goal in goals">
							<div>
								<span>{{goal.name}} :</span>
								<span>{{goal.progress}}/{{goal.objective}}</span>
							</div>
							<div class="goal-progress-container">
								<div class="goal-progress" style="width:{{goal.progress/goal.objective*100}}%;"></div>
							</div>
						</li>
					</div>
					<div>{{'PATH_DETAILS.GOALS.EXPLAINATION' | translate }}</div>
				</div>

				<div>
					<div class="content_button" ng-if="$ctrl.response.is_editable" ng-click="$ctrl.editItem($ctrl.current_content)">{{'PATH_DETAILS.ITEM.EDIT' | translate }}</div>
				</div>

			</figure>
			
		</div>
	</section>
</div>

<div id="objects">
	<div class="unselectionable" id="objects_title">{{'PATH_DETAILS.OBJECTS' | translate }}</div>
	<div id="objects_container">
		<div id="objects_list">
			<div class="object" ng-repeat="object in $ctrl.response.objects | filter: {is_visible: 'true'} | orderBy:'+open_date'" ng-click="$ctrl.showContent(object)">
				<img ng-src="{{object.thumb.url}}">
				<span class="object_title">{{object.name}}</span>
			</div>
			<div class="object" ng-if="$ctrl.response.is_editable" ng-click="$ctrl.addObject()">
				<img ng-src="https://cdn3.iconfinder.com/data/icons/flat-circle-content/512/flat-style-circle-add-2-128.png">
			</div>
		</div>
	</div>
</div>

<style type="text/css">
.content_opened{
    border: 1px solid #121326;
    margin: 10px;
    background-color: rgba(18,19,38,0.1);
}
.image_holder{
	overflow: hidden;
    position: relative;
}
.goal-progress{
	height: 5px;
	background-color: #34B3AC;
}
.goal-progress-container{
	width: 100%;
	border: solid 1px #34B3AC;
}
.goals{
	background: url(https://s3.eu-central-1.amazonaws.com/openyoureyes/goals.png);
	background-size: contain;
}
.goals.achieved{
	background: url(https://s3.eu-central-1.amazonaws.com/openyoureyes/goals_achieved.gif);
	background-size: contain;
}
.goal-content{
	font-size: 16px;
	padding:10px;
}
.goal-item{
	margin-bottom: 10px;
}
.subobj_checked{
	position: absolute;
    top: 0;
    right: 0;
    background: url(https://s3.eu-central-1.amazonaws.com/openyoureyes/checkround.png);
    width: 20px;
    height: 20px;
    background-size: contain;
}
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  height: 400px;
}

.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


.object.ng-enter, .object.ng-leave{
	transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.object.ng-enter, .object.ng-leave.ng-leave-active {
  width:0;
}

.object.ng-leave, .object.ng-enter.ng-enter-active {
  width:75px;
}

.content.ng-enter, .content.ng-leave{
	transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.content.ng-enter, .content.ng-leave.ng-leave-active {
  top:110%;
}

.content.ng-leave, .content.ng-enter.ng-enter-active {
  top:10px;
}
.add_place{
	position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

#position{
	width: 100%;
	text-align: center;
	height: 75px;
	position: fixed;
	bottom:90px;
	display: inline-block;
}

#postion_update{
	text-align: left;
    background-color: #34B3AC;
    width: 110Px;
    height: 70px;
    border-radius: 50px;
    display: inline-block;
    position: absolute;
    top:2px;
    right: 5px;
    box-shadow: 1px 1px 5px #121326;
}
#postion_update span{
	vertical-align: middle;
	display: inline-block;
}
.position_placeholder{
	height: 70px;
	position: relative;
}
#position_content{
	font-family: "multicolore", Helvetica, Arial, sans-serif;
	position: relative;
    color: white;
    font-size: 16px;
    left: 50%;
	width: 100px;
	text-align: center;
    margin-left: -50px;
    line-height: initial;
}
#legend{
	display: inline-block;
    text-align: left;
    border: solid 1px #121326;
    border-radius: 5px;
    padding: 2px;
    position: absolute;
    left: 1px;
    right: 121px;
    top: 1px;
    bottom: 1px;
}
#legend>div{
	height: 15px;
    overflow: hidden;
}
#legend span{
	position: relative;
    top: -2px;
    color:#121326;
    font-size: 12px;
}
#legend h4{
	margin:0;
	font-size: 14px;
}
#legend img{
	height: 15px;
}


.content_button{
    background-color: #34B3AC;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    margin: 10px 25px;
    border: solid white;
}
#content_container p{
	font-size: 20px;
    margin: 10px;
}
#content_container li{
	font-size: 20px;
}

@keyframes shake {
  0% {transform: translateX(0);}
  12.5% {transform: translateX(-10px) rotateY(-5deg)}
  37.5% {transform: translateX(5px) rotateY(4deg)}
  62.5% {transform: translateX(-3px) rotateY(-2deg)}
  87.5% {transform: translateX(2px) rotateY(1deg)}
  100% {transform: translateX(0)}
}

@-webkit-keyframes shake {
  0% {-webkit-transform: translateX(0);}
  12.5% {-webkit-transform: translateX(-10px) rotateY(-5deg)}
  37.5% {-webkit-transform: translateX(5px) rotateY(4deg)}
  62.5% {-webkit-transform: translateX(-3px) rotateY(-2deg)}
  87.5% {-webkit-transform: translateX(2px) rotateY(1deg)}
  100% {-webkit-transform: translateX(0)}
}
#password_input{
	left: 2%;
	width:96%;
    position: relative;
    padding-left: 1px;
    text-align: center;
}

.shake {
  -webkit-animation: shake 400ms ease-in-out;
  animation: shake 400ms ease-in-out;
}

figure img{
	width:100%;
}
.subobjects{
	text-align: center;
	display: inline-block;
}
.flip_content{
	position: absolute;
	left:-10px;
	top:-10px;
    background: url(//s3.eu-central-1.amazonaws.com/openyoureyes/flip_button.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    z-index: 100;
}
.close_content{
	position: absolute;
    right: -10px;
    top: -10px;
    background: url(//s3.eu-central-1.amazonaws.com/openyoureyes/close.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    z-index: 100;
    background-color: white;
    border-radius: 20px;
}
.content{
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 95px;
    top: 10px;
    z-index: 1000;

}
#content_container {
	transition: all 1s;
	width: 100%;
	height: 100%;
	position: relative;
	perspective: 800px;
	padding: 0;
	overflow-y: scroll;
  border: solid 2px #121326;
  background: white;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
#card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  background: white;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
#card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background: white;
  
}
#card .back {
	transform: rotateY( 180deg );
}
#card.flipped {
  transform: rotateY( 180deg );
}
</style>