<div class="user_box">
	<a href="{{$ctrl.link}}" target="_new">
		<img ng-src="{{$ctrl.avatar}}" />
		<span ng-if="$ctrl.is_connected">{{'USER.LOGGED' | translate }} {{$ctrl.name}}</span>
		<span ng-if="!$ctrl.is_connected">{{'USER.LOGIN' | translate }}</span>
	</a>
</div>

<style type="text/css">
	.user_box{
		text-align: center;
		margin-bottom: 10px;
		background-color: #FFFFFF;
		border-radius: 10px;
	}
	user{
		position: absolute;
		bottom: 0;
		width: 220px;
		overflow: hidden;
	}
	user img{
		width: 30px;
		height: 30px;
		display: inline-block;
		border-radius: 15px;
	}
	user span{
		color:#121326;
	    font-size: 14px;
	    vertical-align: middle;
	}
</style>